.cardElement {
    align-content: center;
    
    margin-top: 50%;
  }

ion-content{
    --background: lightgrey;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.buttonClass {
    margin-left: 10%;
}

