ion-content{
    --background: lightgrey;
}

.flex-parent {
 display: flex;
}

.jc-center {
 justify-content: center;
}

.cardElement {
 align-content: center;
 margin-top: 50%;
}
img {
    height: 150px;
    margin-left: 25%;
}
.cardElement {
    margin-top: 40%;
  }